  <html>
<body>
<div class="container" style="background-color:#FFF;" >
<h4>공지사항</h4>
<p>제출 기한은 매주 토요일입니다.</p>

<h4>각 기능의 소개</h4>
Lecture : 현재 진행중 혹은 과거의 스터디 내용을 읽을 수 있습니다.<br>
People : 각 스터디의 참여자들과 결과를 알 수 있습니다. 수동으로 갱신됩니다.<br>
Staff : 이 페이지를 만든 사람 및 기타 등등에 대해 기록되어 있습니다.<br> 
Resources : 유용할지도 모르는 자료들의 링크가 있습니다.<br>

<h4>스터디 설문 조사</h4>
설문에 참여해주시면 추첨을 통해 소정의 경품을 드릴지도 모릅니다.<br>
설문링크:<a href="http://goo.gl/forms/DMVS1ABRWN">http://goo.gl/forms/DMVS1ABRWN</a><br>
설문기간:6월 16일~6월 25일

<h4>스터디 질문 사항</h4>
질문 사항이 있으신 분은 아래의 구글 스프레드시트에서 질문을 할 수 있습니다.<br>
2학기에는 포럼 형식으로 사이트를 개편할 예정입니다.<br>
링크:<a href="http://goo.gl/forms/7BgaxWNQDX">http://goo.gl/forms/7BgaxWNQDX</a>

<h4>강의계획</h4>
<p><a href="lecture/2015.1.5/L0.pdf">2015 여름학기 알고리즘 스터디 - 소개</a>를 참고하세요.</p>

<h4>문제 제출</h4>
<b>unialstudy@gmail.com</b>로 이름과 함께 제출해 주세요.<br>
매주 토요일 23시 59분까지 A번 문제 하나를 푸는 소스 코드만 제출하면 됩니다.<br>
B번 문제는 매주 제출하는 것이 아니라 스터디 종료시에 한꺼번에 제출하면 됩니다.<br>
Lecture 탭에 그 주의 Deadline이 기록되어 있으니, 기한 안에 제출해주세요.<br>

</div>
</body>
   </html>
